{namespace sav=Tx_SavLibraryKickstarter_ViewHelpers}
<f:layout name="kickstarterSectionLayout.html" />

<f:section name="menu">
<f:render partial="menu" arguments="{extKey:extKey, extension:extension, selectedItem:'forms_{itemKey}'}" />
</f:section>

<f:section name="content">
<f:alias map="{section:'forms'}">
<sav:alias map="{sectionItem:'{extension.{section}.{itemKey}}'}">
<div id="{section}Section">
 	<f:form method="post" action="save" name="{section}" arguments="{extKey:extKey, section:section,itemKey:itemKey}">
    <f:form.hidden name="general[section]" value="{section}" />
    <f:form.hidden name="general[itemKey]" value="{itemKey}" />
    <div id="content">
      <div class="header">
        <div class="logo">
        <f:translate key="kickstarter.{section}SectionTitle" />
        </div>
        <div class="buttons">
          <sav:HelpWindow cshTag="{section}" class="left" />
          <f:form.submit class="submit" name="submitAction[save]" value="{f:translate(key:'kickstarter.save')}"/>
          <f:form.submit class="submit" name="submitAction[generateExtension]" value="{f:translate(key:'kickstarter.generate')}"/>
        </div>
      </div>
      <div class="body">
        <sav:comment><!-- Title --></sav:comment>
      	<label class="{sectionItem.type}" for="title"><f:translate key="kickstarter.{section}Item.title" /></label>
    		<f:form.textbox id="title" name="{section}[title]" value="{sectionItem.title}"/>

        <sav:comment><!-- List View --></sav:comment>
      	<label class="list" for="listView"><f:translate key="kickstarter.{section}Item.listView" /></label>
    		<f:form.select id="listView" name="{section}[listView]" options="{options.list}" value="{sectionItem.listView}"/>

        <sav:comment><!-- Single View --></sav:comment>
      	<label class="single" for="singleView"><f:translate key="kickstarter.{section}Item.singleView" /></label>
    		<f:form.select id="singleView" name="{section}[singleView]" options="{options.single}" value="{sectionItem.singleView}"/>

        <sav:comment><!-- Edit View --></sav:comment>
      	<label class="edit" for="editView"><f:translate key="kickstarter.{section}Item.editView" /></label>
    		<f:form.select id="editView" name="{section}[editView]" options="{options.edit}" value="{sectionItem.editView}"/>

        <sav:comment><!-- Special View --></sav:comment>
      	<label class="special" for="specialView"><f:translate key="kickstarter.{section}Item.specialView" /></label>
    		<f:form.select id="specialView" name="{section}[specialView]" options="{options.special}" value="{sectionItem.specialView}"/>

        <sav:comment><!-- Query --></sav:comment>
      	<label for="query"><f:translate key="kickstarter.{section}Item.query" /></label>
    		<f:form.select id="query" name="{section}[query]" options="{options.query}" value="{sectionItem.query}"/>
    		
        <sav:comment><!-- Caching --></sav:comment>
      	<label for="userPlugin"><f:translate key="kickstarter.{section}Item.userPlugin" /></label>
        <f:form.hidden name="{section}[userPlugin]" value="0"/>
        <f:form.checkbox class="checkbox" id="userPlugin" name="{section}[userPlugin]" value="1" checked="{sectionItem.userPlugin}" />
    	</div>
    </div>
  </f:form>
</div>
</sav:alias>
</f:alias>
</f:section>
