{namespace sav=Tx_SavLibraryKickstarter_ViewHelpers}
<f:layout name="kickstarterSectionLayout.html" />

<f:section name="menu">
<f:render partial="menu" arguments="{extKey:extKey, extension:extension, selectedItem:'newTables_{itemKey}'}" />
</f:section>

<f:section name="content">
<f:alias map="{section:'newTables'}">
<sav:alias map="{sectionItem:'{extension.{section}.{itemKey}}'}">
<div id="{section}Section">
  <f:form method="post" action="save" name="{section}" arguments="{extKey:extKey}">
    <f:form.hidden name="general[section]" value="{section}" />
    <f:form.hidden name="general[itemKey]" value="{itemKey}" />
    <f:form.hidden name="general[fieldKey]" value="{fieldKey}" />
    <f:form.hidden name="general[showFieldDefinition]" value="{showFieldDefinition}" />
    <div id="content">
      <div class="header">
        <div class="logo">
          <f:translate key="kickstarter.{section}SectionTitle" />
        </div>
        <div class="buttons">
          <f:form.submit class="submit" name="submitAction[save]" value="{f:translate(key:'kickstarter.save')}"/>
          <f:form.submit class="submit" name="submitAction[generateExtension]" value="{f:translate(key:'kickstarter.generate')}"/>
        </div>
      </div>
      <div class="body">
        <sav:comment><!-- Table Name --></sav:comment>
        <label for="tablename"><f:translate key="kickstarter.{section}Item.tablename" /></label>
  		  <f:form.textbox id="tablename" name="newTables[tablename]" value="{sectionItem.tablename}"/>

        <sav:comment><!-- Table Title --></sav:comment>
        <label for="title"><f:translate key="kickstarter.{section}Item.title" /></label>
  		  <f:form.textbox id="title" name="{section}[title]" value="{sectionItem.title}"/>

  		  <div class="flags">
          <div class="col1">
            <sav:comment><!-- Add deleted field --></sav:comment>
      		  <f:form.hidden class="hidden" name="{section}[add_deleted]" value="0"/>
      		  <f:form.checkbox id="add_deleted" class="checkbox" name="{section}[add_deleted]" value="1" checked="{sav:function(name:'setTrueIfNull', arguments:sectionItem.add_deleted)}"/>
            <label class="clearNone" for="add_deleted"><f:translate key="kickstarter.{section}Item.add_deleted" /></label>

            <sav:comment><!-- Add hidden field --></sav:comment>
        		<f:form.hidden class="hidden" name="{section}[add_hidden]" value="0"/>
        		<f:form.checkbox id="add_hidden" class="checkbox" name="{section}[add_hidden]" value="1" checked="{sav:function(name:'setTrueIfNull', arguments:sectionItem.add_hidden)}"/>
          	<label class="clearNone" for="add_hidden"><f:translate key="kickstarter.{section}Item.add_hidden" /></label>

            <sav:comment><!-- Add starttime field --></sav:comment>
        		<f:form.hidden class="hidden" name="{section}[add_starttime]" value="0"/>
        		<f:form.checkbox id="add_starttime" class="checkbox" name="{section}[add_starttime]" value="1" checked="{sectionItem.add_starttime}"/>
          	<label class="clearNone" for="add_starttime"><f:translate key="kickstarter.{section}Item.add_starttime" /></label>

            <sav:comment><!-- Add endtime field --></sav:comment>
        		<f:form.hidden class="hidden" name="{section}[add_endtime]" value="0"/>
        		<f:form.checkbox id="add_endtime" class="checkbox" name="{section}[add_endtime]" value="1" checked="{sectionItem.add_endtime}"/>
          	<label class="clearNone" for="add_endtime"><f:translate key="kickstarter.{section}Item.add_endtime" /></label>

            <sav:comment><!-- Add acess group field --></sav:comment>
        		<f:form.hidden class="hidden" name="{section}[add_access]" value="0"/>
        		<f:form.checkbox id="add_access" class="checkbox" name="{section}[add_access]" value="1" checked="{sectionItem.add_access}"/>
          	<label class="clearNone" for="add_access"><f:translate key="kickstarter.{section}Item.add_access" /></label>
        	</div>

          <div class="col2">
            <sav:comment><!-- Add localization --></sav:comment>
        		<f:form.hidden class="hidden" name="{section}[localization]" value="0"/>
        		<f:form.checkbox id="localization" class="checkbox" name="{section}[localization]" value="1" checked="{sectionItem.localization}"/>
          	<label class="clearNone" for="localization"><f:translate key="kickstarter.{section}Item.localization" /></label>

            <sav:comment><!-- Add versioning --></sav:comment>
        		<f:form.hidden class="hidden" name="{section}[versioning]" value="0"/>
        		<f:form.checkbox id="versioning" class="checkbox" name="{section}[versioning]" value="1" checked="{sectionItem.versioning}"/>
          	<label class="clearNone" for="versioning"><f:translate key="kickstarter.{section}Item.versioning" /></label>

            <sav:comment><!-- Add Save and New flag --></sav:comment>
            <f:form.hidden class="hidden" name="{section}[save_and_new]" value="0"/>
        		<f:form.checkbox id="save_and_new" class="checkbox" name="{section}[save_and_new]" value="1" checked="{sectionItem.save_and_new}"/>
          	<label class="clearNone" for="save_and_new"><f:translate key="kickstarter.{section}Item.save_and_new" /></label>

            <sav:comment><!-- Add Insert Records flag --></sav:comment>
            <f:form.hidden class="hidden" name="{section}[allow_ce_insert_records]" value="0"/>
        		<f:form.checkbox id="allow_ce_insert_records" class="checkbox" name="{section}[allow_ce_insert_records]" value="1" checked="{sectionItem.allow_ce_insert_records}"/>
          	<label class="clearNone" for="allow_ce_insert_records"><f:translate key="kickstarter.{section}Item.allow_ce_insert_records" /></label>

          </div>
          <div class="col1">
            <sav:comment><!-- Add Allowed on pages flag --></sav:comment>
            <f:form.hidden class="hidden" name="{section}[allow_on_pages]" value="0"/>
        		<f:form.checkbox id="allow_on_pages" class="checkbox" name="{section}[allow_on_pages]" value="1" checked="{sectionItem.allow_on_pages}"/>
          	<label class="clearNone" for="allow_on_pages"><f:translate key="kickstarter.{section}Item.allow_on_pages" /></label>

            <sav:comment><!-- Field type --></sav:comment>
            <label for="type_field"><f:translate key="kickstarter.{section}Item.type_field" /></label>

            <sav:comment><!-- Field Label  --></sav:comment>
            <label for="header_field"><f:translate key="kickstarter.{section}Item.header_field" /></label>

            <sav:comment><!-- Add manual ordering --></sav:comment>
        		<f:form.hidden class="hidden" name="{section}[sorting]" value="0"/>
        		<f:form.checkbox id="sorting" class="checkbox" name="{section}[sorting]" value="1" checked="{sectionItem.sorting}"/>
          	<label class="clearNone" for="sorting"><f:translate key="kickstarter.{section}Item.sorting" /></label>

          </div>
          <div class="col2">
            <sav:comment><!-- Icon --></sav:comment>
      		  <f:form.select id="defIcon" name="{section}[defIcon]" options="{sav:buildOptionsForFileIconSelectorbox()}" value="{sectionItem.defIcon}" />
        	  <label class="defIcon clearNone" for="defIcon"><f:translate key="kickstarter.{section}Item.defIcon" /></label>

            <sav:comment><!-- Field type --></sav:comment>
      		  <f:form.select id="type_field" name="{section}[type_field]" options="{sav:buildOptionsForFieldSelectorbox(fields:sectionItem.fields, options:'{0:\" \"}')}" value="{sectionItem.type_field}" />

            <sav:comment><!-- Field Label  --></sav:comment>
      		  <f:form.select id="header_field" name="{section}[header_field]" options="{sav:buildOptionsForFieldSelectorbox(fields:sectionItem.fields, options:'{0:\" \"}')}" value="{sectionItem.header_field}" />

            <sav:comment><!-- Field for ordering --></sav:comment>
            <f:if condition="{sectionItem.sorting} == 0}">
              <label class="" for="sorting_field"><f:translate key="kickstarter.{section}Item.sorting_field" /></label>
      		    <f:form.select id="sorting_field" name="{section}[sorting_field]" options="{sav:buildOptionsForFieldSelectorbox(fields:sectionItem.fields, options:'{
                crdate:\"[crdate]\",
                cruser_id:\"[cruser_id]\",
                tstamp:\"[tstamp]\"}')}" value="{sectionItem.sorting_field}" />

              <sav:comment><!-- Sorting order --></sav:comment>
          		<f:form.hidden class="hidden" name="{section}[sorting_desc]" value="0"/>
          		<f:form.checkbox id="sorting_desc" class="checkbox" name="{section}[sorting_desc]" value="1" checked="{sectionItem.sorting_desc}"/>
            	<label class="clearNone" for="sorting_desc"><f:translate key="kickstarter.{section}Item.sorting_desc" /></label>
            </f:if>
          </div>
        </div>

        <sav:comment><!-- Fields configuration --></sav:comment>
        <div id="fieldsConfiguration">
          <ul>
          <f:for each="{sectionItem.fields}" as="field" key="key">
            <li>
              <div class="field {f:if(condition:'{fieldKey}=={key}',then:'selected')}">
                <sav:link.empty key="{field.fieldname}" />
                <div class="fieldLabel">
                  <f:link.action action="{section}EditSection" arguments="{extKey:extKey, section:section, itemKey:itemKey, fieldKey:key}" section="{sav:function(name:'md5int',arguments:'kickstarterTop')}">
                  <img class="gotoTop" src="../../../../typo3/gfx/turn_up.gif" alt="{f:translate(key:'kickstarter.gotoTop')}" title="{f:translate(key:'kickstarter.gotoTop')}" />
                  <f:translate key="kickstarter.field.fieldLabel" />{field.fieldname}
                  </f:link.action>
                </div>
                <sav:comment><!-- Adds the field definition --></sav:comment>
                <div class="label"><f:translate key="kickstarter.field.fieldName" /></div><div class="value"><f:form.textbox name="{section}[fields][{key}][fieldname]" value="{field.fieldname}" /></div>
                <div class="label"><f:translate key="kickstarter.field.fieldTitle" /></div><div class="value"><f:form.textbox name="{section}[fields][{key}][title]" value="{field.title}" /></div>
                <div class="label"><f:translate key="kickstarter.field.fieldType" /></div><div class="value"><f:form.select name="{section}[fields][{key}][type]" options="{sav:buildOptionsForFieldTypeSelectorbox()}" value="{field.type}" /></div>
                <sav:comment><!-- Adds the folder selector if any --></sav:comment>
                <sav:alias map="{folderExists:'{extension.views.{field.viewKey}.folders}'}">
                <f:if condition="{folderExists}">
                <sav:alias map="{options:'{folderLabels.{field.viewKey}}', value:'{field.folders.{field.viewKey}}'}">
                <div class="label"><f:translate key="kickstarter.field.folder" /></div><div class="value"><f:form.select name="{section}[fields][{key}][folders][{field.viewKey}]" options="{options}" value="{value}" /></div>
                </sav:alias>
                </f:if>
                </sav:alias>
                <sav:comment><!-- Adds the field configuration with the view folder tabs --></sav:comment>
                <div class="folderTabs">
                  <ul class="folderTabs">
                  <f:for each="{extension.views}" as="view" key="viewKey">
                    <li class="{f:if(condition:'{viewKey} == {field.viewKey}', then:'currentTab')}">
                      <f:link.action action="changeConfigurationView" arguments="{extKey:extKey, section:section, itemKey:itemKey, fieldKey:key, viewKey:viewKey}" section="{sav:function(name:'md5int',arguments:field.fieldname)}">
                      <span class="{view.type}">{view.title}</span>
                      </f:link.action>
                    </li>
                  </f:for>
                  </ul>
                  <sav:HelpWindow cshTag="{field.type}" class="right" />
                </div>
                <sav:alias map="{value:'{field.configuration.{field.viewKey}}'}">
          		  <f:form.hidden class="hidden" name="{section}[fields][{key}][viewKey]" value="{field.viewKey}"/>
                <f:form.textarea name="{section}[fields][{key}][configuration][{field.viewKey}]" value="{value}" rows="{sav:function(name:'countLines', arguments:value)}" cols="80"/>
                </sav:alias>
              </div>
            </li>
          </f:for>
          </ul>
        </div>
      </div>
    </div>

    <sav:comment><!-- Fields overview --></sav:comment>
    <div id="fieldsOverview">
      <div class="header">
        <div class="logo">
          <f:translate key="kickstarter.fieldsOverview" />
        </div>
        <div class="buttons">
          <f:link.action action="addNewField" arguments="{extKey:extKey, section:section, itemKey:itemKey}">
          <img src="../../../../typo3/gfx/add.gif" alt="{f:translate(key:'kickstarter.addNewField')}" title="{f:translate(key:'kickstarter.addNewField')}" />
          </f:link.action>
          <f:form.submit class="submit" name="submitAction[save]" value="{f:translate(key:'kickstarter.save')}"/>
          <f:form.submit class="submit" name="submitAction[generateExtension]" value="{f:translate(key:'kickstarter.generate')}"/>
        </div>
      </div>
      <sav:comment><!-- Adds the view folder tabs --></sav:comment>
      <div class="folderTabs">
        <div class="buttons">
          <label for="tablename"><f:translate key="kickstarter.useFields" /></label>
  		    <sav:form.select id="viewSelectorbox" name="{section}[viewSelectorbox]" value="" options="{sav:buildOptionsForViewSelectorbox(views:extension.views)}" />
          <f:form.submit name="submitAction[sortFields]" value="{f:translate(key:'kickstarter.sort')}" />
          <f:form.submit name="submitAction[copyFields]" value="{f:translate(key:'kickstarter.copy')}" />
        </div>
        <ul class="folderTabs">
        <f:for each="{extension.views}" as="view" key="key">
          <li class="{f:if(condition:'{key} == {sectionItem.viewKey}', then:'currentTab')}">
          <f:link.action action="changeView" arguments="{extKey:extKey, section:section, itemKey:itemKey, viewKey:key}">
          <span class="{view.type}">{view.title}</span>
          </f:link.action>
          </li>
        </f:for>
        </ul>
      </div>
      <sav:comment><!-- Adds the fields management (edit, select, move, delete) --></sav:comment>
      <div class="body">
        <ul>
          <li class="title">
            <div class="fieldName">{f:translate(key:'kickstarter.field.fieldName')}</div>
            <div class="fieldTitle">{f:translate(key:'kickstarter.field.fieldTitle')}</div>
            <div class="fieldType">{f:translate(key:'kickstarter.field.fieldType')}</div>
          </li>
          <f:for each="{sectionItem.fields}" key="key" as="field">
          <li class="field {f:if(condition:'{fieldKey}=={key}',then:'selected')}">
            <sav:alias map="{selected:'{field.selected.{field.viewKey}}', order:'{field.order.{field.viewKey}}', class:'{extension.views.{field.viewKey}.type}'}">
            <div class="fieldName">
              <f:link.action class="{f:if(condition:'{selected}', then:'{class} bold')}" action="editFieldConfiguration" arguments="{extKey:extKey, section:section, itemKey:itemKey, fieldKey:key}" section="{sav:function(name:'md5int',arguments:field.fieldname)}">
              {field.fieldname}
              </f:link.action>
            </div>
            <div class="fieldTitle">{field.title}</div>
            <div class="fieldType">{f:translate(key:'kickstarter.field.fieldType.{field.type}')}</div>
            <div class="fieldControls">
        		  <f:form.hidden class="hidden" name="{section}[fields][{key}][order][{sectionItem.viewKey}]" value="{order}"/>
         		  <f:form.hidden class="hidden" name="{section}[fields][{key}][selected][{sectionItem.viewKey}]" value="0"/>
         		  <f:form.checkbox class="checkbox" name="{section}[fields][{key}][selected][{sectionItem.viewKey}]" value="1" checked="{selected}"/>
              <f:link.action action="editFieldDefinition" arguments="{extKey:extKey, section:section, itemKey:itemKey, fieldKey:key}">
                <img class="editFieldDefinition" src="../../../../typo3/gfx/edit.gif" alt="kickstarter.{f:translate(key:'kickstarter.edit')}" title="{f:translate(key:'kickstarter.edit')}" />
              </f:link.action>
              <f:link.action action="moveDownField" arguments="{extKey:extKey, section:section, itemKey:itemKey, fieldKey:key}">
                <img class="moveDownField" src="../../../../typo3/gfx/down.gif" alt="{f:translate(key:'kickstarter.moveDown')}" title="{f:translate(key:'kickstarter.moveDown')}" />
              </f:link.action>
              <f:link.action action="moveUpField" arguments="{extKey:extKey, section:section, itemKey:itemKey, fieldKey:key}">
                <img class="moveUpField" src="../../../../typo3/gfx/up.gif" alt="{f:translate(key:'kickstarter.moveUp')}" title="{f:translate(key:'kickstarter.moveUp')}" />
              </f:link.action>
              <f:link.action action="deleteField" arguments="{extKey:extKey, section:section, itemKey:itemKey, fieldKey:key}">
                <img class="deleteField" src="../../../../typo3/gfx/garbage.gif" alt="kickstarter.delete" title="{f:translate(key:'kickstarter.delete')}" />
              </f:link.action>
            </div>
            </sav:alias>
          </li>
          </f:for>
        </ul>
      </div>
      <sav:comment><!-- Add the field definition --></sav:comment>
      <f:if condition="{showFieldDefinition}">
      <div id="fieldDefinition">
        <sav:comment><!-- General definition --></sav:comment>
        <sav:alias map="{field:'{sectionItem.fields.{fieldKey}}'}">
        <div class="basic">
          <div class="label"><f:translate key="kickstarter.field.fieldName" /></div><div class="value"><f:form.textbox name="{section}[fields][{fieldKey}][fieldname]" value="{field.fieldname}" /></div>
          <div class="label"><f:translate key="kickstarter.field.fieldTitle" /></div><div class="value"><f:form.textbox name="{section}[fields][{fieldKey}][title]" value="{field.title}" /></div>
          <div class="label"><f:translate key="kickstarter.field.fieldType" /></div><div class="value"><f:form.select name="{section}[fields][{fieldKey}][type]" options="{sav:buildOptionsForFieldTypeSelectorbox()}" value="{field.type}" /></div>
        </div>
        <sav:comment><!-- Special definition depending on the field type--></sav:comment>
        <div class="definition">
        <sav:render partial="Types/{field.type}Type.html" arguments="{section:section, itemKey:itemKey, fieldKey:fieldKey, field:field, extension:extension}" />
        </div>
        </sav:alias>
      </div>
      </f:if>
    </div>
  </f:form>
</div>
</sav:alias>
</f:alias>
</f:section>


