{namespace sav=SAV\SavLibraryKickstarter\ViewHelpers}
<f:layout name="KickstarterSectionLayout.html" />

<f:section name="menu">
<f:render partial="Menus/Menu" arguments="{extKey:extKey, extension:extension, selectedItem:'queries_{itemKey}'}" />
</f:section>

<f:section name="content">
<f:alias map="{directory:'{0:\'ForSavLibrary\',1:\'ForSavLibraryPlus\',2:\'ForSavLibraryMvc\'}'}">
<f:render partial="{directory.{extension.general.1.libraryType}}/QueriesSection" arguments="{
  extKey:extKey, extension:extension, itemKey:itemKey
}" />
</f:alias>
</f:section>

