{namespace sav=Tx_SavLibraryKickstarter_ViewHelpers}
<f:layout name="KickstarterSectionLayout.html" />


<f:section name="menu">
<f:render partial="Menu" arguments="{extKey:extKey, extension:extension, selectedItem:'views_{itemKey}'}" />
</f:section>

<f:section name="content">
<f:alias map="{section:'views'}">
<sav:alias map="{sectionItem:'{extension.{section}.{itemKey}}'}">
<div id="{section}Section">
 	<f:form method="post" action="save" name="{section}" arguments="{extKey:extKey, section:section,itemKey:itemKey}">
    <f:form.hidden name="general[section]" value="{section}" />
    <f:form.hidden name="general[itemKey]" value="{itemKey}" />
    <div id="content">
      <div class="header">
        <div class="logo">
        <f:translate key="kickstarter.{section}SectionTitle" />
        </div>
        <div class="buttons">
          <sav:HelpWindow cshTag="{section}" class="left" />
          <f:form.submit class="submit" name="submitAction[save]" value="{f:translate(key:'kickstarter.save')}"/>
          <f:form.submit class="submit" name="submitAction[generateExtension]" value="{f:translate(key:'kickstarter.generate')}"/>
        </div>
      </div>
      <div class="body">
        <sav:comment><!-- Title --></sav:comment>
      	<label class="{sectionItem.type}" for="title"><f:translate key="kickstarter.{section}Item.title" /></label>
    		<f:form.textbox id="title" name="{section}[title]" value="{sectionItem.title}"/>

        <sav:comment><!-- Type --></sav:comment>
      	<label class="{sectionItem.type}" for="type"><f:translate key="kickstarter.{section}Item.type" /></label>
    		<f:form.select id="type" name="{section}[type]" options="{
          none: '{f:translate(key:\"kickstarter.viewsItem.type.none\")}',
          list: '{f:translate(key:\"kickstarter.viewsItem.type.list\")}',
          single:'{f:translate(key:\"kickstarter.viewsItem.type.single\")}',
          edit:'{f:translate(key:\"kickstarter.viewsItem.type.edit\")}'
          special:'{f:translate(key:\"kickstarter.viewsItem.type.special\")}'
          }" value="{sectionItem.type}"/>

        <sav:comment><!-- Subtype of the view if needed --></sav:comment>
    		<f:if condition="{sav:function(name:'in_array', arguments:'{needle:sectionItem.type, haystack:\"special\"}')}">
      	<label class="{sectionItem.type}" for="viewTemplate"><f:translate key="kickstarter.{section}Item.subtype" /></label>
    		<f:form.select id="subtype" name="{section}[subtype]" options="{
          none: '{f:translate(key:\"kickstarter.viewsItem.subtype.none\")}',
          update: '{f:translate(key:\"kickstarter.viewsItem.subtype.update\")}',
          print:'{f:translate(key:\"kickstarter.viewsItem.subtype.print\")}'
          }" value="{sectionItem.subtype}"/>
    		</f:if>

        <sav:comment><!-- Option for printView --></sav:comment>
    		<f:if condition="{sav:function(name:'in_array', arguments:'{needle:sectionItem.subtype, haystack:\"print\"}')}">
      	<label class="{sectionItem.type}" for="itemsBeforePageBreak"><f:translate key="kickstarter.{section}Item.subtype.print.itemsBeforePageBreak" /></label>
        <f:form.textbox id="itemsBeforePageBreak" class="integer" name="{section}[itemsBeforePageBreak]" value="{sectionItem.itemsBeforePageBreak}" />
        <label class="{sectionItem.type}"  for="itemsBeforeFirstPageBreak"><f:translate key="kickstarter.{section}Item.subtype.print.itemsBeforeFirstPageBreak" /></label>
        <f:form.textbox id="itemsBeforeFirstPageBreak" class="integer" name="{section}[itemsBeforeFirstPageBreak]" value="{sectionItem.itemsBeforeFirstPageBreak}" />
    		</f:if>

        <sav:comment><!-- View Title Bar --></sav:comment>
      	<label class="{sectionItem.type}" for="viewTitleBar"><f:translate key="kickstarter.{section}Item.viewTitleBar" /></label>
    		<f:form.textarea id="viewTitleBar" name="{section}[viewTitleBar]" value="{sectionItem.viewTitleBar}" rows="{sav:function(name:'countLines', arguments:sectionItem.viewTitleBar)}" cols="50"/>

        <sav:comment><!-- Folders --></sav:comment>
    		<f:if condition="{sectionItem.foldersAllowed}">
    		<div id="foldersDefinition">
        	<label class="folders {sectionItem.type}"><f:translate key="kickstarter.{section}Item.folders" /></label>
          <f:link.action action="addNewFolder" arguments="{extKey:extKey, section:section, itemKey:itemKey}">
          <img class="addNewFolder" src="../../../../typo3/gfx/add.gif" alt="{f:translate(key:'kickstarter.addNewFolder')}" title="{f:translate(key:'kickstarter.addNewFolder')}" />
          </f:link.action>
          <f:for each="{sectionItem.folders}" as="folder" key="folderKey" >
          <label class="folder {sectionItem.type}"><f:translate key="kickstarter.{section}Item.folders.label" /></label>
      		<f:form.textbox class="folderLabel" name="{section}[folders][{folderKey}][label]" value="{folder.label}" />
          <f:link.action action="moveDownFolder" arguments="{extKey:extKey, section:section, itemKey:itemKey, folderKey:folderKey}">
            <img class="moveDownFolder" src="../../../../typo3/gfx/down.gif" alt="{f:translate(key:'kickstarter.moveDown')}" title="{f:translate(key:'kickstarter.moveDown')}" />
          </f:link.action>
          <f:link.action action="moveUpFolder" arguments="{extKey:extKey, section:section, itemKey:itemKey, folderKey:folderKey}">
            <img class="moveUpFolder" src="../../../../typo3/gfx/up.gif" alt="{f:translate(key:'kickstarter.moveUp')}" title="{f:translate(key:'kickstarter.moveUp')}" />
          </f:link.action>
          <f:link.action action="deleteFolder" arguments="{extKey:extKey, section:section, itemKey:itemKey, folderKey:folderKey}">
            <img class="deleteFolder" src="../../../../typo3/gfx/garbage.gif" alt="kickstarter.delete" title="{f:translate(key:'kickstarter.delete')}" />
          </f:link.action>
          <label class="folder {sectionItem.type}"><f:translate key="kickstarter.{section}Item.folders.configuration" /></label>
      		<f:form.textarea class="folder" name="{section}[folders][{folderKey}][configuration]" value="{folder.configuration}" rows="{sav:function(name:'countLines', arguments:folder.configuration)}" cols="50"/>
          </f:for>
        </div>
    		</f:if>

        <sav:comment><!-- Item Template --></sav:comment>
    		<f:if condition="{sav:function(name:'in_array', arguments:'{needle:sectionItem.type, haystack:\"list,special\"}')}">
      	<label class="{sectionItem.type}" for="itemTemplate"><f:translate key="kickstarter.{section}Item.itemTemplate" /></label>
    		<f:form.textarea id="itemTemplate" name="{section}[itemTemplate]" value="{sectionItem.itemTemplate}" rows="{sav:function(name:'countLines', arguments:sectionItem.itemTemplate)}" cols="50"/>
    		</f:if>
    		
        <sav:comment><!-- View template if not mvc --></sav:comment>
    		<f:if condition="{sav:function(name:'in_array', arguments:'{needle:sectionItem.type, haystack:\"list\"}')}">
        <f:if condition="{extension.general.1.libraryType} == 0">
      	<label class="{sectionItem.type}" for="viewTemplate"><f:translate key="kickstarter.{section}Item.viewTemplate" /></label>
    		<f:form.textbox id="viewTemplate" name="{section}[viewTemplate]" value="{sectionItem.viewTemplate}" />
    		</f:if>
    		</f:if>

        <sav:comment><!-- printIcon --></sav:comment>
    		<f:if condition="{sav:function(name:'in_array', arguments:'{needle:sectionItem.type, haystack:\"list,single\"}')}">
      	<label class="{sectionItem.type}" for="addPrintIcon"><f:translate key="kickstarter.{section}Item.addPrintIcon" /></label>
        <f:form.hidden class="hidden" name="{section}[addPrintIcon]" value="0"/>
        <f:form.checkbox id="addPrintIcon" class="checkbox" name="{section}[addPrintIcon]" value="1" checked="{sectionItem.addPrintIcon}"/>
        </f:if>

    		<f:if condition="{sectionItem.addPrintIcon}">
      	<label class="clearNone {sectionItem.type}" for="viewForPrintIcon"><f:translate key="kickstarter.{section}Item.viewForPrintIcon" /></label>
  		  <sav:form.select class="clearNone" id="viewForPrintIcon" name="{section}[viewForPrintIcon]" value="{sectionItem.viewForPrintIcon}" options="{sav:buildOptionsForViewSelectorbox(views:extension.views)}" />
        </f:if>
    		
    	</div>
    </div>
  </f:form>
</div>
</sav:alias>
</f:alias>
</f:section>
