<li class="section">
  <div class="icon">
  <f:link.action action="{section}EditSection" arguments="{extKey:extKey, section:section, itemKey:itemKey, fieldKey:fieldKey}">
    <img src="../../../../typo3/gfx/edit.gif" alt="{f:translate(key:'kickstarter.edit')}" title="{f:translate(key:'kickstarter.edit')}" />
  </f:link.action>
  </div>
  <div class="title">
  <f:link.action action="{section}EditSection" arguments="{extKey:extKey, section:section, itemKey:itemKey, fieldKey:fieldKey}">
    <f:translate key="kickstarter.{section}SectionTitle" />
  </f:link.action>
  </div>
</li>
