{namespace sav=Tx_SavLibraryKickstarter_ViewHelpers}
<f:be.container addCssFile="{f:uri.resource(path:'Styles/backend.css')}">
<div class="typo3-fullDoc">
  <div id="typo3-docbody">
    <div id="header">
      <div class="logo">
        <div class="kickstarterTitle">
          <span><f:translate key="kickstarter.title" /></span>
          <span>{savLibraryKickstarterVersion}</span>
        </div>
        <div class="extensionTitle">
          <span><f:translate key="kickstarter.extensionList" /></span>
        </div>
      </div>
    </div>
    <sav:renderFlashHtmlMessages class="errorMessage" />
    <f:render section="content" />
  </div>
</div>
</f:be.container>

